html{
    display: flex;
    background-image: url("recipes/images/background.jpg");
    background-repeat: repeat-y;
    background-size: cover;
    background-color: #4dc7a4;
    justify-content: center;
}

body {
    font-family: 'VT323', monospace;
    width: 600px;
    padding:30px;
    border: 3px solid #ffeb3b;
    border-radius: 1rem;
    background-color: yellowgreen;
    /* text-align: center; */
    color: rgb(44, 0, 84);
    margin-top: 3rem;
}

h1, h2, h3 {
    font-family: 'Press Start 2P', monospace;
}


h1, h2, h3 {
    color: rgb(255, 62, 127);
    text-shadow: 3px 3px #000000;
}


h3{
    border-top: 3px solid #ffeb3b;
    padding-top: 1rem;
}

p, li, a{
    font-size: 26px;
}


ul{
    list-style-type: none;
    padding: 0;
}

img{
    max-width: 100%;
}

.button{
    padding: 1rem;
    border: 3px solid #ffeb3b;
    border-radius: 1rem;
    display: block;
    margin: 1rem auto;
    text-decoration: none;
    text-align: center;
}

.button:hover{
    background-color: #ffeb3b;
} 

ol + a.button{
    margin-top: 3rem;
}